{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <title>Student Register</title>
</head>
<body>
    <div class="container-fluid py-5">
        <!-- For demo purpose -->
        <div class="row mb-4">
          <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-4">Django CRUD Operations</h1>
            <p class="lead mb-0">A Simple Student Register for Creating, Reading, Updating <br> & Deleting Student Information</p>
            <br>
            <h1 class="display-6">Student Name: {{student.First_Name}} {{student.Last_Name}}</h1>
          </div>
        </div>
        <!-- End -->

        <div class="container">
            <div class="bg-white shadow-lg">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label>Admission Number</label>
                        <input value="{{student.Admission_Number}}" required class="form-control" readonly>
                    </div>
                    <div class="row">
                        <div class="col-6 mb-3">
                            <div class="form-group">
                                <label>First Name</label>
                                <input value="{{student.First_Name}}" required class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input value="{{student.Last_Name}}" required class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mb-3">
                            <div class="form-group">
                                <label>Date Of Birth</label>
                                <input value="{{student.Date_Of_Birth}}" required class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="form-group">
                                <label>Date Joined</label>
                                <input value="{{student.Date_Joined}}" required class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label>Faculty</label>
                        <input value="{{student.Faculty}}" required class="form-control" readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label>Department</label>
                        <input value="{{student.Department}}" required class="form-control" readonly>
                    </div>
                    <div class="row">
                        <div class="col-6 mb-3">
                            <div class="form-group">
                                <label>Course Name</label>
                                <input value="{{student.Course_Name}}" required class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="form-group">
                                <label>Year Of Study</label>
                                <input value="{{student.Year_Of_Study}}" required class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mb-3">
                            <div class="form-group">
                                <label>Unit Name</label>
                                <input value="{{student.Unit_Name}}" required class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="form-group">
                                <label>Grade</label>
                                <input value="{{student.Grade}}" required class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="modal-footer">
                        <a href="{% url 'Add_Info'%}">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>